exportPattern("^[[:alpha:]]+")
importFrom("graphics", "axis", "legend", "points")
importFrom("methods", "new", "setMethod", "signature")
importFrom("stats", "coefficients", "lm", "optim", "rnorm", "predict", "cov")
importFrom("foreach", "foreach", "%dopar%")
importFrom("iterators", "iter")
importFrom("parallel","detectCores","makeCluster","stopCluster", "parApply")
importFrom("doParallel","registerDoParallel")
