export(calculateCosPhi)
export(extractWaves)
export(fitFMM)
export(generateFMM)
export(plotFMM)
export(PVj)
export(seqTimes)
export(coef)
export(summary)
export(fitted)
export(resid)
export(alwaysFalse)
export(R2)
exportPattern("get")
importFrom("graphics", "axis", "legend", "points")
importFrom("methods", "new", "setMethod", "signature", "is")
importFrom("stats", "coefficients", "lm", "optim", "rnorm", "predict", "cov","sd")
importFrom("rlang", "env_unlock", "env_binding_unlock", "env_binding_lock", "env_lock")
importFrom("foreach", "foreach", "%dopar%")
importFrom("iterators", "iter")
importFrom("parallel","detectCores","makeCluster","stopCluster", "parApply")
importFrom("doParallel","registerDoParallel")
